/*-- scss:defaults --*/

$code-block-border-color: #FF;
$code-block-font-size:	13px;
$presentation-font-size-root:	28px;


.background-black {
  color: white;
  background-color: black !important;
}

/* Increase font size for table captions */
table caption {
  font-size: 1.6em;
  color: #004B8D;
}

/* Decrease font size for in-table text */
table td, table th {
  font-size: 0.8em;
}

// Set color and center-justify figure captions
figure figcaption {
  text-align: center;
  color: #004B8D;
}

span.inline-heading {
  color: #004B8D;
  font-size: 1.2em;
}

span.inline-heading1 {
  color: #004B8D;
  font-size: 1.2em;
}

span.inline-heading2 {
  color: #9A3324;
  font-size: 1.2em;
}

span.inline-heading3 {
  color: #5E6738;
  font-size: 1.2em;
}

span.inline-heading4 {
  color: #D45D00;
  font-size: 1.2em;
}

span.inline-col1 {
  color: #004B8D;
}

span.inline-col2 {
  color: #9A3324;
}

span.inline-col3 {
  color: #5E6738;
}

span.inline-col4 {
  color: #D45D00;
}


/* style.scss */


.pull-left {
/* color: #777; */
  width: 50%;
  height: 92%;
  float: left;
}

.pull-right {
/* color: #777; */
  width: 50%;
  height: 92%;
  float: right;
}

.left-code {
/* color: #777; */
  width: 38%;
  height: 92%;
  float: left;
}


.right-plot {
/* color: #777; */
  width: 60%;
  height: 92%;
  float: right;
}

.left-code-wide {
/* color: #777; */
  width: 58%;
  height: 92%;
  float: left;
}


.left-wide {
/* color: #777; */
  width: 58%;
  height: 92%;
  float: left;
}

.right-narrow {
/* color: #777; */
  width: 40%;
  height: 92%;
  float: right;
}


.left-narrow {
/* color: #777; */
  width: 40%;
  height: 92%;
  float: left;
}

.right-wide {
/* color: #777; */
  width: 58%;
  height: 92%;
  float: right;
}

.right-plot-narrow {
/* color: #777; */
  width: 40%;
  height: 92%;
  float: right;
}

.left-plot {
/* color: #777; */
  width: 60%;
  height: 92%;
  float: left;
}

.right-code {
  width: 38%;
  float: right;
  padding-left: 1%;
}

.plot-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.plot-top-left {
  position: absolute;
  bottom: 0.5;
  height: "100";
  left: 0;
}

.plot-top-right {
  position: absolute;
  bottom: 0.5;
  right: 0;
}

.plot-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}


/* make smaller dt table */
.dt-smaller {
  font-size: 0.8em;
}

.dt-smaller td,
.dt-smaller th {
  padding: 2px;
}

.dt-smaller .dataTables_wrapper {
  font-size: 0.8em;
}

